<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>repo</title>

<link rel="stylesheet" href="../../style.css" type="text/css" />

<link rel="stylesheet" href="../../local.css" type="text/css" />




<link rel="alternate" type="application/x-wiki" title="Edit this page" href="https://github.com/project-renard/project-renard.github.io/edit/source/templates/repo.mdwn" />







</head>
<body>

<div class="page">

<div class="pageheader">
<div class="header">
<span>
<span class="parentlinks">

<a href="../../">Project Renard</a>/ 

<a href="../">templates</a>/ 

</span>
<span class="title">
repo

</span>
</span>



</div>


<div class="actions">
<ul>

<li><a href="https://github.com/project-renard/project-renard.github.io/edit/source/templates/repo.mdwn" rel="nofollow">Edit</a></li>


<li><a href="../../recentchanges/">RecentChanges</a></li>


<li><a href="https://github.com/project-renard/project-renard.github.io/commits/source/templates/repo.mdwn">History</a></li>







</ul>
</div>









</div>



<div class="sidebar">
<ul>
    <li><a href="../../blog/">Blog</a></li>
    <li><a href="../../doc/">Documentation</a></li>
    <ul>
        <li><a href="../../doc/user/">User</a></li>
        <li><a href="../../doc/development/">Development</a></li>
        <ul>
            <li><a href="../../doc/development/meeting-log/">Development meeting log</a></li>
        </ul>
        <li><a href="../../doc/survey/">Survey</a></li>
        <li><a href="../../doc/design/">Design</a></li>
    </ul>
    <li><a href="../../about/">About</a></li>
</ul>

</div>



<div id="pagebody">

<div id="content">
<div class="sidebar">

<table>
<TMPL_IF NAME="repo">
<tr>
    <td>
<b>Repo</b>: <a href="https://github.com/<TMPL_VAR NAME="repo">"><TMPL_VAR NAME="repo"></a>
    </td>
</tr>
<tr>
    <td>
<a href="https://github.com/<TMPL_VAR NAME="repo">/issues"><img src="https://img.shields.io/github/issues/<TMPL_VAR NAME="repo">.svg"/></a>
    </td>
</tr>
<tr>
    <td>
<a href="https://github.com/<TMPL_VAR NAME="repo">/pulls"><img src="https://img.shields.io/github/issues-pr/<TMPL_VAR NAME="repo">.svg"/></a>
    </td>
</tr>
</TMPL_IF>
<TMPL_IF NAME="cpan">
<tr>
    <td>
<a href="https://metacpan.org/release/<TMPL_VAR NAME="cpan">"><img src="https://badge.fury.io/pl/<TMPL_VAR NAME="cpan">.svg" alt="CPAN version" /></a>
    </td>
</tr>
</TMPL_IF>
<TMPL_IF NAME="type">
<tr>
    <td>
<b>Type</b>: <TMPL_VAR NAME="type">
    </td>
</tr>
</TMPL_IF>
</table>

<TMPL_IF NAME="travis-ci">
<a href="<TMPL_VAR NAME="travis-ci">"><img src="<TMPL_VAR NAME="travis-ci-badge">"/></a>
</TMPL_IF>
<TMPL_IF NAME="appveyor-ci">
<a href="<TMPL_VAR NAME="appveyor-ci">"><img src="<TMPL_VAR NAME="appveyor-ci-badge">"/></a>
</TMPL_IF>
<TMPL_IF NAME="coveralls">
<a href="<TMPL_VAR NAME="coveralls">"><img src="<TMPL_VAR NAME="coveralls-badge">"/></a>
</TMPL_IF>

</div>

</div>







</div>

<div id="footer" class="pagefooter">

<div id="pageinfo">












<div class="pagedate">
Last edited <span class="date">Wed 12 Jul 2017 11:59:24 AM UTC</span>
<!-- Created <span class="date">Wed 12 Jul 2017 11:29:56 AM UTC</span> -->
</div>

</div>


<!-- from Project Renard -->
</div>

</div>

</body>
</html>
