[submodule "rubykat-ikiplugins"]
	path = .ikiwiki-plugins/rubykat-ikiplugins
	url = https://github.com/rubykat/ikiplugins.git
[submodule "p5-IkiWiki-Plugin-tex"]
	path = .ikiwiki-plugins/p5-IkiWiki-Plugin-tex
	url = https://github.com/zmughal/p5-IkiWiki-Plugin-tex.git
[submodule "p5-IkiWiki-Plugin-github"]
	path = .ikiwiki-plugins/p5-IkiWiki-Plugin-github
	url = https://github.com/zmughal/p5-IkiWiki-Plugin-github.git
