.pageheader {
	background-image: url('img/illuminated-page-header.png');
	background-repeat: repeat;
	height: 200px;
}

.img.fullwidth {
	width: 100%;
}

.img.left {
	float:left;
}

.img.right {
	float:right;
}

.firstcharacter {
	float: left;
	color: #903;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
	font-family: Georgia;
}
