<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>wafflebadgetabletr</title>

<link rel="stylesheet" href="../../style.css" type="text/css" />

<link rel="stylesheet" href="../../local.css" type="text/css" />


<link rel="alternate" type="application/x-wiki" title="Edit this page" href="https://github.com/project-renard/project-renard.github.io/edit/source/templates/wafflebadgetabletr.mdwn" />




</head>
<body>

<div class="page">

<div class="pageheader">
<div class="header">
<span>
<span class="parentlinks">

<a href="../../">Project Renard</a>/ 

<a href="../">templates</a>/ 

</span>
<span class="title">
wafflebadgetabletr

</span>
</span>

</div>


<div class="actions">
<ul>

<li><a href="https://github.com/project-renard/project-renard.github.io/edit/source/templates/wafflebadgetabletr.mdwn" rel="nofollow">Edit</a></li>


<li><a href="../../recentchanges/">RecentChanges</a></li>


<li><a href="https://github.com/project-renard/project-renard.github.io/commits/source/templates/wafflebadgetabletr.mdwn">History</a></li>







</ul>
</div>




</div>


<div class="sidebar">
<ul>
    <li><a href="../../doc/">Documentation</a></li>
    <ul>
        <li><a href="../../doc/development/meeting-log/">Development meeting log</a></li>
        <li><a href="../../doc/development/">Development</a></li>
        <li><a href="../../doc/survey/">Survey</a></li>
        <li><a href="../../doc/design/">Design</a></li>
    </ul>
    <li><a href="../../about/">About</a></li>
</ul>

</div>


<div id="pagebody">

<div id="content">
<p><tr>
<td>
    <a href="https://github.com/<TMPL_VAR repo>"><TMPL_VAR repo></a>
</td>
<td>
    <a href="http://waffle.io/<TMPL_VAR repo>">
        <img src="https://badge.waffle.io/<TMPL_VAR repo>.svg?label=ready&amp;title=R" caption="Stories in Ready"/>
    </a>
</td>
<td>
    <a href="http://waffle.io/<TMPL_VAR repo>">
        <img src="https://badge.waffle.io/<TMPL_VAR repo>.svg?label=in%20progress&amp;title=IP" caption="Stories in In Progress"/>
    </a>
</td>
</tr></p>

</div>





</div>

<div id="footer" class="pagefooter">

<div id="pageinfo">









<div class="pagedate">
Last edited <span class="date">Thu 10 Mar 2016 08:33:57 PM UTC</span>
<!-- Created <span class="date">Thu 10 Mar 2016 08:33:57 PM UTC</span> -->
</div>

</div>


<!-- from Project Renard -->
</div>

</div>

</body>
</html>
